* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #efeff2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 300px;
    height: 500px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    background: #22252D;
    overflow: hidden;
}

/* Media query for screen widths up to 400px */
@media only screen and (max-width: 400px) {
    form input {
        font-size: 1.5rem;
    }
}

/* Media query for screen widths between 401px and 600px */
@media only screen and (min-width: 401px) and (max-width: 600px) {
    .calculator {
        width: 90%;
        height: auto;
        max-height: 500px;
    }
}

/* Media query for screen widths above 600px */
@media only screen and (min-width: 601px) {
    .calculator {
        width: 400px;
        height: 600px;
    }
}

form {
    display: flex;
    flex-direction: column;
}

form input {
    width: auto;
    max-height: 150px;
    border: none;
    border-radius: 12px;
    font-size: 2rem;
    padding: 1rem;
    color: #fff;
    background: #000;
    text-align: right;
    pointer-events: none;
    overflow-wrap: break-word;
    resize: none;
    overflow-y: auto;
    transition: font-size 0.1s;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    padding: 20px;
}

.btn {
    margin: 5px 0;
    border: 1px solid #000;
    width: 100%;
    height: 52px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center; /* Center text vertically */
}

button:hover {
    background: transparent;
    border: 2px solid #e0c5ce;
}

.btn-yellow {
    background: rgb(245, 146, 62);
    color: #fff;
}

.btn-grey {
    background: rgb(224, 224, 224);
}

.btn-equal {
    background: green;
}

.btn-clear {
    background: red;
}

.btn-back {
    background-color: #909de9;
}
